{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title> Login </title>
	<link rel="stylesheet" type="text/css" href="{% static 'styles/landing.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<img class="wave" src="{% static 'images/wave.png' %}">
	<div class="container">
		<div class="img">
			<img src="{% static 'images/bg.svg' %}">
		</div>
		<div class="login-content">
			<form action="index.html">
				<h2 class="title"> QA TestLab </h2>   
            	<a href="{% url 'login' %}"><button type="button" class="login-btn"> Go to Login </button></a>
				<a href="{% url 'signup' %}"><button type="button" class="signup-btn"> Go to Signup </button></a>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="{% static "/script/login.js" %}"></script>
</body>
</html>