<!DOCTYPE html>
<html>
<head>
	{% load static %}
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/login.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="auth-container">
        <img src="{% static 'images/homecredit.png' %}" alt="Logo" class="logo">
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}

            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="form-group">
                <input type="text" class="input-field" name="username" placeholder="Username" required>
            </div>

            <div class="form-group">
                <input type="password" class="input-field" name="password" placeholder="Password" required>
            </div>

            <button type="submit" class="btn">Login</button>
        </form>

        <p class="auth-link">
            Don't have an account? <a href="{% url 'signup' %}">Sign Up</a>
        </p>
    </div>
<script src="{% static 'scripts/login.js' %}"></script>
</body>
</html>